.about {
    padding: 5rem 2rem 2rem 2rem;
    background-color: #f9f9f9;
  }
  .about-heading{
    color: white;
    background: #232323;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 15px auto;
  }

  .about h1{
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .about section {
    margin-bottom: 2rem;
  }
  
  .about p {
    color: #000000db;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
  
  .team .chefs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .team .chef {
    text-align: center;
  }
  
  .team .chef img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #db8f04;
    margin-bottom: 0.5rem;
    transition: transform 0.2s;
  }
  .team .chef img:hover {
    transform: scale(1.05);
  }
  
  .team h3 {
    color: #000000db;
    margin-top: 0.5rem;
  }
  .para{
    color: #000000db;
    font-weight: 500;
  }
  
  .team p {
    color: #000000db;
  }

  @media screen and (max-width: 768px){
   .team .chefs{
    flex-direction: column;
   }
}