body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

 /* Nav css */


nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin-right: 2em;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}
nav ul li a:hover{
    color: #db8f04;
    transition: 0.3s;
}
.head{
    display: flex;
    align-items: center;
    font-size: large;
    gap: 8px;
    text-decoration: none;
    color: #db8f04;
    justify-content: space-between;
    margin: 0 1em;
}
.logo-text{
    display: flex;
    align-items: center;
    font-size: large;
    gap: 8px;
    text-decoration: none;
    color: #db8f04;
}
.logo{
    width: 2em;
    height: 1.5em;
    margin-right: 0.1em;
    color: #d98e05;
}
.logo-text p{
    font-weight: 600;
    font-size: larger;
}
.logo-text span{
    color: white;
    margin-left: 0.2em;
}
.logo-text span:hover{
    color: #db8f04;
    transition: 0.3s;
}
.logo-text:hover{
    color: #fff;
    transition: 0.3s;
}
.link-active{
    color: #db8f04;
    text-decoration: underline;
}
.cart{
    width: 1.3em;
    height: 1.8em;
    border-radius: 50%;
    padding: 0px 10px;
    margin-top: 3px;
}
.cart:hover{
    background-color: #db8f04;
    transition: 0.4s;
}
.menuBar{
    display: none;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.cross{
    display: none;
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
}
.active{
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000db;
    position: absolute;
    min-width: 100%;
    z-index: 1000;
}


 /* Main Home css */

.home{
    background: url('./assets/bg-desktop.jpg') no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    color: white;
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 1em 2em;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #ffffff1c;
}
.order{
    background-color: #db8f04;
    color: white;
    padding: 0.6em 1.8em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 8px;
    border: none;
    font-size: large;
    cursor: pointer;
}
.order:hover{
    color: #000000db;
}
.dine{
    color: #db8f04;
}

 /* Timings section */

.timings {
    color: white;
    padding: 2em;
    background-color: #000000e6;
    text-align: center;
  }
.timings h2{
    margin: 0px 0 30px 0;
}
  
  .timings ul {
    list-style-type: none;
    padding: 0;
  }
  
  .timings li {
    font-size: 1.1em;
    margin: 30px 0;
  }

   /* Location Details section */

  .location {
    display: flex;
    padding: 40px 35px;
    background-color: #e1e1e12b;
    gap: 2.5em;
    width: 90%;
    margin: 0 auto;
  }
  .map{
    width: 50%;
  }
  .location .map iframe {
    border: none;
    width: 100%;
    height: 25em;
  }
  
  .address {
    width: 50%;
    text-align: left;
  }
  
  .address h2 {
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .address p {
    margin: 2em 0 3.5em 0;
    font-size: large;
    font-weight: 500;
  }
  .contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
  }
  .c-container{
    width: 100%;
  }
  .contact-heading{
    color: white;
    background: #232323;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 10px auto;
  }
  .contact-detail{
    margin-top: 1.5em;
    line-height: 1.6em;
  }
  
  
  /* error 404 page */

  .container{
      width: 100%;
      height: 92vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .error{
        width: 25%;
        padding-top: 3.5em;

    }


     /* Menu Section */
  
    .menu {
        padding: 5rem 2rem 2rem 2rem;
        background-color: #f9f9f9;
      }
      
      .menu-contain {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
      }
      
     .menu h1 {
        color: #000000db;
        margin-bottom: 2rem;
      }
      .menu-heading{
        font-size: 2.5rem;
    width: fit-content;
    border-bottom: 2px solid #db8f04;
    margin: 1rem auto;
      }
      .appetizers, .mainCourse, .dessert {
        margin-top: 2rem;
      }
      
     .menu h3 {
        color: #db8f04;
        margin-top: 1rem;
      }
      
    .menu  p {
        color: #000000db;
        font-size: 1rem;
      }
      
      .card {
        display: inline-block;
        min-width: 25% ;
        margin: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        padding: 20px 25px;
      }
      
      .card:hover {
        transform: scale(1.05);
      }
      
      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      
      button {
        background-color: #db8f04;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin-top: 0.5rem;
        transition: background-color 0.2s;
      }
      
      button:hover {
        color: #000000db;
      }
      
      button i {
        margin-left: 0.5rem;
      }

      .view-cart {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #db8f04;
        color: white;
        padding: 0.9rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        cursor: pointer;
      }

      .view-cart:hover{
        background-color: #e69808;
        color: #000;
      }
      
      .view-cart span {
        flex: 1;
        text-align: center;
      }
      
      .view-cart span:first-child,
      .view-cart span:last-child {
        flex: 0 0 auto;
      }

   /* About Us section */

   .about {
    padding: 5rem 2rem 2rem 2rem;
    background-color: #f9f9f9;
  }
  .about-heading{
    color: white;
    background: #232323;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 15px auto;
  }

  .about h1{
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .about section {
    margin-bottom: 2rem;
  }
  
  .about p {
    color: #000000db;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
  
  .team .chefs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .team .chef {
    text-align: center;
  }
  
  .team .chef img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #db8f04;
    margin-bottom: 0.5rem;
    transition: transform 0.2s;
  }
  .team .chef img:hover {
    transform: scale(1.05);
  }
  
  .team h3 {
    color: #000000db;
    margin-top: 0.5rem;
  }
  .para{
    color: #000000db;
    font-weight: 500;
  }
  
  .team p {
    color: #000000db;
  }
  

  /*   Cart section     */     

  .cart-sec {
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .cart-sec h2 {
    text-align: left;
    color: #000000db;
    margin-bottom: 2rem;
    border-bottom: 3px solid #d98f04;
    width: fit-content;
    font-size: 25px;
    margin-top: 2rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-details {
    flex: 1;
    margin-left: 1rem;
  }
  
  .item-details h3 {
    margin: 0;
    color: #db8f04;
  }
  
  .item-details p {
    margin: 0.5rem 0 0;
    color: #000000db;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    background-color: #db8f04;
    color: white;
    border: none;
    padding: 0.2rem 0.7rem;
    cursor: pointer;
    border-radius: 25%;
    font-size: 20px;
  }
  .item-quantity button:hover {
    background-color: #c9880f;
    color: rgb(240, 239, 239);
  }
  
  .item-quantity span {
    margin: 0.6rem 0.5rem 0.1rem 0.5rem;
    color: #000000db;
  }
  
  .cart-totals {
    margin-top: 2rem;
  }
  
  .totals-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    color: #000000db;
  }
  
  .checkout-button {
    background-color: #db8f04;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: large;
  }
  .no-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808014;
    color: #d98f04;
    height: 20rem;
    font-size: 1.5rem;
  }
  .no-item h3{
    display: flex;
    gap: 12px;
  }
  .ClearCart{
    color: #cf8b0e;
    text-decoration: underline;
    display: flex;
    margin: 40px 0 10px;
    justify-content: flex-end;
    cursor: pointer;
  }
  .ClearCart:hover{
    color: #a8710c;
  }

  /*   Confirmation Screen     */     

  .confirmation-screen {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 20px 20px;
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
  }
  .disabled{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #db8f0480;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    margin-top: 20px;
  }
  .left-container, .right-container {
    flex: 1 1;
    margin: 0 10px;
    background-color: #d3d3d370;
    padding: 30px;
    border-radius: 8px;
    height: max-content;
    margin-top: 2.5rem;
  }
  .right-container{
    height: max-content;
    padding-bottom: 40px;
    max-width: 43%;
  }
  .left-container{
    line-height: 1rem;
    max-width: 57%;
  }
  .confirmation-screen h3 {
    margin-bottom: 25px;
    font-size: 21px;
    width: fit-content;
    border-bottom: 2px solid #d98f04;
  }
  
  .confirmation-screen label {
    display: block;
    margin: 10px 0;
  }
  
  input, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #767778;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .order-totals {
    margin-top: 10px;
  }
  
  .place-order-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #db8f04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .numb{
    position: absolute;
    top: 14px;
    right: 50px;
    color: #f19a04;
    font-size: 12px;
  }
  .userName{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: baseline;
  }
   select{
    width: 10%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .fullName{
    width: 60%;
  }
  .Con-detail{
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
    align-items: baseline;
  }
  .Con-detail input{
    width: 31%;
  }

  /*   CheckOut screen     */   
  
  
  .checkout{
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 20px 20px;
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;
}
  
.checkout .checkout-container {
    flex: 1 1;
    background-color: #d3d3d370;
    padding: 30px 30px 30px 45px;
    border-radius: 8px;
    height: max-content;
    max-width: 50%;
    margin: 2.5rem auto 0;
}

.checkout h3 {
  font-size: 25px;
  width: fit-content;
  margin: 0px auto 25px;
  border-bottom: 2px solid #d98f04;
}
  
.checkout form {
    margin: 0 auto;
    width: 100%;
}
  
.checkout-place-order-button {
  display: block;
  min-width: 30%;
  background-color: #db8f04;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  margin-top: 20px;
}

.checkout-userName {
    display: flex;
    gap: 26px;
    margin-bottom: 1rem;
    align-items: baseline;
}
  
.checkout-userName select {
    width: 15%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-userName input{
  width: 50%;
}

.checkout input, .checkout textarea{
  min-width: 31%;
}
  
  
.checkout-Con-detail {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
    align-items: baseline;
}
  
.checkout-Con-detail input {
    width: 31.6%;
}

/* CustomAlert */
.custom-alert {
  position: fixed;
  top: 5.5rem;
  left: 9.2rem;
  transform: translateX(-45%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.custom-alert.show {
  opacity: 1;
  visibility: visible;
}

  /*   Footer     */     
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  footer p {
    margin: 0;
  }

  /* Scroll to Top Button */
.scrollTop {
  position: fixed;
  right: 1em;
  bottom: 1em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #db8f04;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0.8;
}

.scrollTop:hover {
  opacity: 1;
}



@media screen and (max-width: 768px){
    .menuBar{
        display: block;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: normal;
        background-color: #000000db;
        flex-direction: column;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul li{
        margin: 5px 0;
    }

    .hide{
        display: none;
    }
    .cart {
        width: 1.3em;
        height: 1.6em;
        padding: 0px 5px;
        margin-top: 0px;
        border-radius: 0;
    }
    .home{
        background: url('./assets/bg-mobile.jpg') no-repeat center center/cover;
        bottom: 0;
    }
    .hero{
        margin: 0 auto;
        width: 72%;
        padding: .5em 1.5em 1.5em;
        z-index: 0;
    }
    .timings li {
        font-size: 1em;
      }
      .location{
        flex-direction: column;
        width: 80%;
      }
      .location .map iframe {
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .address {
        width: 100%;
    }
    .error {
        width: 55%;
    }
    .contact{
      padding-top: 6rem;
    }
   .team .chefs{
    flex-direction: column;
   }
   .scrollTop{
    bottom: 4em;
  }
  .confirmation-screen {
    flex-direction: column;
        padding: 100px 0;
        width: 100%;
        align-items: center;
  }

  .left-container, .right-container {
    margin: 10px 0;
    padding: 30px 20px;
    max-width: 80%;
        width: 75%;
}
.left-container{
  width: 80%;
        max-width: 80%;
}
select{
  width: 96%;
}
.fullName {
  width: 90%;
}
.userName{
  gap: 5px;
  flex-direction: column;
}
.Con-detail {
  gap: 5px;
  flex-direction: column;
}
.Con-detail input {
  width: 90%;
}
  .numb{
    top: 19.42rem;
    right: 2.8rem;
  }
  .checkout{
    padding: 100px 0;
  }
  .checkout .checkout-container{
    max-width: 80%;
    padding: 30px;
  }
  .checkout-userName, .checkout-Con-detail{
    flex-direction: column;
    gap: 10px;
  }
  .checkout-userName input, .checkout-Con-detail input{
    width: 92%;
  }
   .checkout-userName select{
    width: 98%;
  }
  .checkout button{
    width: 96%;
  }
  .checkout form{
    line-height: 30px;
    width: 100%;
  }
}



@media screen and (max-width: 480px){
    .error{
        width: 90%;
    }
    .scrollTop{
      right: unset;
      left: 1em;
    }
    .view-cart{
      max-width: 80%;
    } 
    .custom-alert{
      font-size: small;
      padding: 10px 12px;
      top: 4.5rem;
      left: 8rem;
    }
}